<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>:: Innowhite :: An Online Collaboration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <%= stylesheet_link_tag 'style'  %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'jrails' %>
  </head>
  <body>
    <div class="content" style="text-align:center;">
    <%= yield %>
    </div>
  </body>
</html>